/*
Modal window
----------------------------------*/
.ui-dialog {
	@include borderRadius(10px, 10px, 10px, 10px);
	@include boxShadow(0, 0, 20px, #000);
	background:#fff;
	border:10px solid $palette_primary33;
	display:block;
    outline:0;
	padding:20px;
    position:absolute;
    top:0;
    z-index:5001;
}
.ui-widget-overlay {
	background:#000000;
    left:0;
    outline:0;
    position:absolute;
    top:0;
	width:100%;
	z-index:5000;
}
.close-dialog {
	line-height: 1em;
	margin-bottom:0;
	text-align:right;

	.sprite {
		background-position:-130px 0;
		display:block;
		float:right;
		height:10px;
		margin:0;
		width:10px;
	}
}